<section class="about-section" id="about">
  <div class="container">
    <h2 class="about-title">Про нас</h2>

    <p class="about-description">
      У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що
      приносять радість та задоволення. Наша місія — пропонувати високоякісні
      десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та
      естетичний вигляд.
    </p>

    <div class="about-container">
      <div class="swiper about-swiper">
        <ul class="swiper-wrapper gallery-list">
          <li class="swiper-slide gallery-item">
            <img
              src="./img/about/bakery-1.webp"
              srcset="./img/about/bakery-1@2x.webp 2x"
              alt="Кондитер прикрашає випічку кремом"
              loading="lazy"
              width="335"
              height="249"
            />
          </li>

          <li class="swiper-slide gallery-item">
            <img
              src="./img/about/bakery-2.webp"
              srcset="./img/about/bakery-2@2x.webp 2x"
              alt="Команда кондитерів обговорює рецепти"
              loading="lazy"
              width="335"
              height="249"
            />
          </li>

          <li class="swiper-slide gallery-item">
            <img
              src="./img/about/bakery-3.webp"
              srcset="./img/about/bakery-3@2x.webp 2x"
              alt="Інтер'єр та вітрина кондитерської"
              loading="lazy"
              width="335"
              height="249"
            />
          </li>

          <li class="swiper-slide gallery-item">
            <img
              src="./img/about/bakery-4.webp"
              srcset="./img/about/bakery-4@2x.webp 2x"
              alt="Дівчина насолоджується десертом"
              loading="lazy"
              width="335"
              height="249"
            />
          </li>
        </ul>
      </div>
      <div class="about-button-next swiper-button">
        <svg width="24" height="24" aria-hidden="true">
          <use href="./img/sprite.svg#arrow-right"></use>
        </svg>
      </div>
      <div class="about-button-prev swiper-button">
        <svg width="24" height="24" aria-hidden="true">
          <use href="./img/sprite.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
