<section class="bestsellers">
  <div class="container">
    <h2 class="bestsellers-title">Наші бестселлери</h2>

    <div class="bestsellers-container">
      <div class="swiper bestsellers-swiper">
        <ul class="swiper-wrapper bestsellers-list"></ul>
      </div>

      <div class="nav-wrapper">
        <div class="swiper-pagination bestsellers-pagination"></div>
        <div class="button-wrapper">
          <div class="bestsellers-button-prev swiper-button">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="bestsellers-button-next swiper-button">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
