<section class="desserts-section" id="desserts">
  <div class="container">
    <div class="desserts-container">
      <h2 class="desserts-title">Солодощі</h2>
      <div class="tablet-category-wrapper">
        <p class="desserts-subtitle">
          Спробуйте наші смачні десерти, які вас здивують!
        </p>

        <div class="categories-wrapper js-categories-wrapper"></div>
      </div>

      <ul class="desserts-list js-desserts-list"></ul>

      <span class="loader js-loader loader-hidden"></span>

      <button type="button" class="btn load-more-btn js-load-more">
        Завантажити ще
      </button>
    </div>
  </div>
</section>
