<div class="desserts-modal-backdrop" id="desserts-modal" hidden>
  <div class="desserts-modal-container">
    <button
      class="desserts-modal-close"
      type="button"
      data-modal-close
      aria-label="Закрити"
    >
      <svg class="" width="24" height="24" aria-hidden="true">
        <use href="./img/sprite.svg#cross"></use>
      </svg>
    </button>
    <img class="desserts-modal-img" src="#" alt="Dessert image" />
    <div class="desserts-modal-content">
      <h2 class="desserts-modal-title"></h2>
      <p class="desserts-modal-price"></p>
      <div class="modal-wrap-rating">
        <svg class="rating-star-svg" width="16" height="16">
          <use href=""></use>
        </svg>
        <svg class="rating-star-svg" width="16" height="16">
          <use href=""></use>
        </svg>
        <svg class="rating-star-svg" width="16" height="16">
          <use href=""></use>
        </svg>
        <svg class="rating-star-svg" width="16" height="16">
          <use href=""></use>
        </svg>
        <svg class="rating-star-svg" width="16" height="16">
          <use href=""></use>
        </svg>
      </div>
      <p class="desserts-modal-descr"></p>
      <p class="desserts-modal-ingredients"><span>Склад</span>:</p>
      <button
        class="desserts-modal-btn btn"
        type="button"
        data-modal-target="modal-form"
      >
        Перейти до замовлення
      </button>
    </div>
  </div>
</div>
