<div class="swiper">
  <div class="swiper-wrapper swiper-list">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev swiper-arrow">
    <svg width="24" height="24">
      <use href="../img/sprite.svg#arrow-left"></use>
    </svg>
  </div>
  <div class="swiper-button-next swiper-arrow">
    <svg width="24" height="24">
      <use href="../img/sprite.svg#arrow-right"></use>
    </svg>
  </div>
</div>
