.about-section {
    padding: 64px 0;    
}

.about-title {
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #080c0c;
}

.about-description {
    font-family: "Work Sans", sans-serif;
    width: 100%;
    margin: 0 auto 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #080c0c;
}

.gallery-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.gallery-item {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

@media (min-width: 768px) {

    .about-description {
        max-width: 704px;
    }

    .gallery-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .gallery-list > li {
        width: calc((100% - 24px) / 2);
    }

    .gallery-item {
       width: 100%;
    }
}


@media (min-width: 1440px) {

    .about-section {
        padding: 80px 0;
    }

    .about-title {
        font-size: 48px;
    }

    .about-description {
        max-width: 768px;
    }
}