.bestsellers {
  padding: 64px 0;
}

.bestsellers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #080c0c;
  margin-bottom: 32px;
}

.bestsellers-container {
  position: relative;
  width: 100%;
  overflow: visible;
}

.bestsellers-card {
  min-height: 434px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.button-wrapper {
  display: flex;
  gap: 16px;
}

.bestsellers-container .swiper-button {
  display: flex;
  position: static;
  border: 2px solid #080c0c;
  border-radius: 100px;
  padding: 12px;
  justify-content: center;
  background-color: #f5fdfd;
  opacity: 1;
  margin: 0;
  z-index: 999;
}

.bestsellers-container .swiper-button-prev::after,
.bestsellers-container .swiper-button-next::after {
  display: none;
}

.bestsellers-container .swiper-pagination {
  display: flex;
  position: static;
  justify-content: flex-start;
  gap: 9px;
  border-radius: 100%;
  padding: 10px 0;
}

.bestsellers-container .swiper-pagination-bullet {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: #080c0c;
  opacity: 0.2;
}

.bestsellers-container .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #080c0c;
  transform: none;
}

@media (min-width: 1440px) {
  .bestsellers {
    padding: 80px 0;
  }
}
