.header {
  width: 100%;
  position: relative;
  background-color: #f5fdfd;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 12px 0;
  justify-content: space-between;
}

.header-nav-wrapper {
  display: none;
}

.logo-icon {
  display: block;
  width: 146px;
  height: 31px;
}

.burger-btn {
  display: block;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 12px 20px;
  background-color: #f5fdfd;
  transform: translateX(100%);
  transition: transform 250ms ease;
  overflow-y: hidden;
}

.mobile-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.close-btn {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  padding: 16px 0 36px 0;
  gap: 8px;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.header-link {
  display: block;
  color: #080c0c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 0;
  width: fit-content;
}

.mobile-menu .header-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 20px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #080c0c;
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    padding: 0;
  }

  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 16px;
  }

  .header-nav-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .header-link {
    position: relative;
    display: inline-block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #080c0c;
  }

  .header-link::after {
    bottom: 21px;
  }

  .header-link:active::after {
    bottom: 24px;
  }

  .mobile-menu {
    display: none;
  }

  .header-btn {
    padding: 8px 20px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #080c0c;
  }
}

@media screen and (min-width: 1440px) {
  .nav-list {
    gap: 32px;
  }

  .header-nav-wrapper {
    gap: 32px;
  }
}
