@font-face {
  font-family: 'Comfortaa';
  src:
    url('./../fonts/Comfortaa-Bold.woff') format('woff'),
    url('./../fonts/Comfortaa-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    url('./../fonts/WorkSans-SemiBold.woff') format('woff'),
    url('./../fonts/WorkSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    url('./../fonts/WorkSans-Medium.woff') format('woff'),
    url('./../fonts/WorkSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    url('./../fonts/WorkSans-SemiBold.woff') format('woff'),
    url('./../fonts/WorkSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'WorkSans', sans-serif;
  background-color: #f5fdfd;
}

ul,
ol {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
