@font-face {
  font-family: 'Comfortaa';
  src:
    url('./../fonts/Comfortaa-Bold.woff') format('woff'),
    url('./../fonts/Comfortaa-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    url('./../fonts/WorkSans-SemiBold.woff') format('woff'),
    url('./../fonts/WorkSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    url('./../fonts/WorkSans-Medium.woff') format('woff'),
    url('./../fonts/WorkSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    url('./../fonts/WorkSans-SemiBold.woff') format('woff'),
    url('./../fonts/WorkSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'WorkSans', sans-serif;
  background-color: #f5fdfd;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2 {
  font-family: 'Comfortaa', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  transition:
    background-color 0.4s ease,
    border 0.4s ease;
  color: #080c0c;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f19898;
  border: 2px solid #f19898;
  border-radius: 100px;
}

.btn:hover {
  background-color: #f5fdfd;
  border: 2px solid #080c0c;
}

.btn:focus {
  background-color: #f19898;
  border: 2px solid #080c0c;
}

.btn:active {
  border: 2px solid #080c0c;
  background-color: #c07979;
}

.btn:disabled {
  opacity: 0.3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  position: relative;
  transition:
    transform 0.4s ease,
    color 0.4s ease,
    opacity 0.4s ease,
    background-color 0.4s ease;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: #080c0c;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
}

.link:active {
  color: #c07979;
}

.link:active::after {
  background-color: #c07979;
  bottom: 0;
}
