.feedback {
  padding: 64px 0;
  background: #f5fdfd;
}

.title-feedback {
  text-align: center;
  font-size: 32px;
  line-height: 1.2;
}

.text-feedback {
  margin-top: 24px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.feedback-list {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.feedback-item {
  width: 100%;
}

.feedback-card {
  width: 100%;
  height: 208px;
  padding: 32px;

  border: 2px solid #080c0c;
  border-radius: 16px;
  background: #f5fdfd;

  display: flex;
  flex-direction: column;
}

.feedback-rating {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}

.star-icon {
  font-size: 20px;
  line-height: 1;
  color: #d9d9d9;
}

.star-icon.filled {
  color: #080c0c;
}

.star-icon.half {
  background: linear-gradient(
    to right,
    #080c0c 50%,
    #d9d9d9 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.feedback-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #080c0c;
}

.feedback-author {
  margin-top: auto;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #080c0c;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .feedback-card {
    padding: 16px;
  }
}




@media screen and (min-width: 1440px) {
  .feedback {
    padding: 80px 0;
  }

  .feedback-card {
    height: 233px;
    padding: 32px;
  }
}